.whatsapp-float {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    transition: all 0.2s ease-in-out;
    
  }

  .whatsapp-float:hover {
    transform: scale(1.1);
    background-color: #128c7e;
    box-shadow: 3px 3px 4px #999;
  }

  .whatsapp-float i {
    line-height: 60px;
  }